$avatarBorderColor: #FFFFFF;
$searchLineHeight: 40px; 
$primary: #3f51b5;
$accent: #e74c3c;

.main-container {
    box-sizing: border-box;
}

.full-width {
    width: 90%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    padding-inline-start: 0px;

    li {
        list-style: none;
    }
}

#searchcontrols {
    width: 90%;
    padding: 0px;

    input {
        width: 75%;
        height: $searchLineHeight;
    }

    button {
        position: absolute;
        margin-left: -50px;
        line-height: $searchLineHeight;
        padding: 0px;
    }
}

.repo-card {
    border-radius: 5px;
    box-shadow: hsla(0, 0, 0, .2) 0 4px 2px -2px;
    font-family: "adelle-sans", sans-serif;
    font-weight: 100;
    margin: 22px auto;
    width: 20rem;
    
    @media screen and (min-width: 480px) {
      width: 36rem;
    }
    @media screen and (min-width: 767px) {
      width: 40rem;
    }
    @media screen and (min-width: 959px) {
      width: 50rem;
    }

    .repo-title {
        margin-left: 20px;
        font-weight: 100;
    }

    .repo-header {           
        border-radius: 5px;
        padding: 10px;
        
        .owner {
            margin-top: 11px;
            font-size: 18px;
        }

        .repo-header-image {
            background-size: cover;
            border: 1px solid $accent;
        }
    }

    .repo-desc {
        margin: 20px;
    }
  }
  
.language {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: $accent;
    padding: 10px 15px;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;  
}

.fork-icon {
    position: absolute;
    right: 25px;
    top: 25px;
    height: auto;
    width: auto;
    font-weight: 600;
    font-size: 20px;
}

.footer {
    border-top: 1px solid lighten(#333, 70%);
    margin: 0 auto;
    padding-bottom: .125rem;
    width: 90%;
}