<div id="searchcontrols">
  <input matInput type="text" placeholder="nel-sam" value="{{username}}" ng-bind="username">
  <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="onSearchButtonClick()">
    <mat-icon>search</mat-icon>
  </button>

  <!-- <input type="text" value="{{username}}" ng-bind="username" /> -->
  <button mat-button (click)="onSearchButtonClick()">
    <i class="material-icons">search</i></button>
</div>

<ul>
  <li *ngFor="let repo of repos">
    <mat-card class="repo-card">
      <mat-card-header class="repo-header">
        <div mat-card-avatar class="repo-header-image" [ngStyle]="{ 'background-image': 'url(' + repo.owner.avatar_url + ')'}"></div>
        <mat-card-title class="repo-title">
          <a href="{{repo.url}}">{{repo.name}}</a>
          <mat-icon *ngIf="repo.fork">call_split</mat-icon>
        </mat-card-title>
      </mat-card-header>
      <mat-card-subtitle class="repo-fork">
      </mat-card-subtitle>
      <mat-card-content class="repo-desc">
        <p>{{repo.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </li>
</ul>